.video-section{
    background-image: url('../../../../assets/images/video-picture.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: darken;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}