@import '../../styles/variables';

.cart-section{
    .distorted-background{
        height: 40vh;
        background-image: url('../../assets/images/clothes-image/distorted-background.jpg');
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgba(0, 0, 0, 0.5);
        background-blend-mode: darken;

        h2{
            font-size: 3rem;
        }
    }

    .table-container{
        overflow-x: auto;

        .table-wrapper{
            min-width: 500px;

            .product-quantity{
                height: 40px;
                button:active{
                    background-color: $light-orange !important;
                }
        
                .items-number{
                    text-align: center;
                    width: 40px;
                    outline: none;
                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button{
                        -webkit-appearance: none;
                }
            }
            }
        }

        
    }

    .order-summary{
       max-width: 400px;
    }
}