@import '../../../../styles/variables';

.coming-product{
    
    .product-image{
        max-width: 300px;
        height: 300px;
        object-fit: cover;
    }

    button{
        width: max-content;
        &:hover{
            cursor: default;
            background-color: $light-orange;
            color: white;
        }
    }
}