@import './styles/variables';
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import './styles/fonts';


*{
    padding: 0 !important;
    box-sizing: border-box !important;
}

body{
    margin: 0 !important;
    font-family: 'Montserrat';
}

svg{
    pointer-events: none;
}