@import "../styles/variables";

.nav-bar {
  height: 8rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  .links {
    display: none;

    @media (min-width: 768px) {
      display: block !important;
      background-color: transparent;
      position: unset;
    }

    a {
      text-decoration: none;
      color: black;
    }

    .active {
      color: red;
    }
  }

  .linedividel {
    width: 1px;
    background-color: gray;
    height: 23px;
  }
}

.visibleNav{
  position: fixed;
  top: 8rem;
  left: 0;
  right: 0;
  background-color: lightgray;
}
